#Page {
  height: 100%;
  background-color: #f0f2f5;
  width: 100%;
}

#Layout {
  height: 100%;
  width: 100%;
}

#Main-Container {
  padding: 20px 100px;
  height: 100%;
  width: 100%;
  display: block;
}

#Main-Container-Image {
  padding: 20px 100px;
  height: 100%;
  width: 100%;
  display: block;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("../../assets/background_grey.jpg");
;
}

#Top-Container{
  margin: 1% 0;
  height: 10%;
  width: 90%;
  -moz-box-shadow:    0 0 5px 2px rgba(0,0,0,.35);
  -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
  box-shadow: 0 0 5px 2px rgba(0,0,0,.35);

}
#List-Header {
  font-weight: 600;
}

.Column {
  margin-bottom: 20px;
}
#Input-Alert {
  width: 1360px;
}

.Hotel-List-Item-Row {
  width: 100%;
  height: 40px;
}

.Hotel-List-Item-Col-Stars {
  flex-basis: 10%;
}
.Hotel-List-Item-Col-Name {
  flex-basis: 30%;
}
.Hotel-List-Item-Col-Code {
  flex-basis: 20%;
}
.List-Item-Col-Company {
  flex-basis: 25%;
}
.List-Item-Col-Departure {
  flex-basis: 15%;
}
.Hotel-List-Item-Col-Location {
  flex-basis: 30%;
}
.Hotel-List-Item-Col-Button {
  flex-basis: 30%;
}

#Content-Container {
  height: 100%;
  width: 100%;
}
