
#Page{
    background: #F0F2F5;
    height: 100%;
}
#Header{
    background-color: #1890ff;
}
#Menu{
    background-color: #1890ff;
    color: white;
}
#Main-Container{
    padding: 20px 100px;
    height: 100%;
}

.Menu-Item{
}
.Search-Inner-Container{
    background-color: white;
    min-height: 60px;
    padding: 0 20px;
}
.Search-Outter-Container{

    min-height: 60px;
    align-items: center;
    width: 1360px;
    background-color: white;
    

}
#Hotel-Table{
    min-height: 60px;
    align-items: center;
    width: 1360px;
    background-color: white;
    margin-top: 40px;
}
.Col-Container{
    text-align: center;
    background-color: white;
    min-height: 60px;
    line-height: 60px;
    color: #262626;
 
    
}
#List-Header{
    font-weight: 600
}

#Package-Container{
    min-height: 60px;
    line-height: 60px;
    min-width: 200px;
    font-weight: 600;
    border-right: solid;
    border-width: 2px;
    border-color: #1890ff;
    margin-right: 20px; 
}
.Column{
    margin-bottom: 20px;
}
#Input-Alert{
    width: 1360px;
}

.Hotel-List-Container{
 
}
.Hotel-List-Item-Row{
    width: 100%;
    height: 40px;
 }

.Hotel-List-Item-Col{
   flex-basis: 400px;
   margin-right: 50px;
}
.Hotel-List-Item-Col-Location{
    flex-basis: 100px;
    margin-right: 50px;
 }

 #Steps-Row{
     margin-top: 20px;
     width: 1360px;
 }
 #Steps-Col{
     flex-basis: 50%;
     margin: 0 0;
     padding: 0 0;
 }
 #List{
     height: 560px;
 }