
.card {
  position: relative;

}

.card-inner{
  position: relative;
}

.top {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.topMargin::after {
  margin-bottom: 12px;
}
.topHasMargin {
  margin-bottom: 20px;
}

.avatar {
  position: relative;
  top: 4px;
  float: left;
  margin-right: 20px;
  
}

.avatar img {
  border-radius: 100%;
}

.metaWrap {
  float: left;
}

.meta {
  height: 22px;
  line-height: 22px;
}
.action {
  position: absolute;
  top: 4px;
  right: 0;
  line-height: 1;
  cursor: pointer;
}
.total {
  height: 38px;
  margin-top: 4px;
  margin-bottom: 0;
  overflow: hidden;
  font-size: 30px;
  line-height: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.content {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
.contentFixed {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer {
  margin-top: 8px;
  padding-top: 9px;
  border-top: 1px solid #f0f2f5;
  
}
.footer * {
  position: relative;
}

.footerMargin {
  margin-top: 20px;
}
