#Page {
    height: 100%;
    background-color: #f0f2f5;
    width: 100%;
}

#Layout {
    height: 100%;
    width: 100%;
}

#Main-Container {
padding: 20px 100px;
height: 100%;
width: 100%;
display: block;
}

#Content-Container {
    height: 100%;
    width: 100%;
}

.Col-InfoCard {
    padding-left: 12px; 
    padding-right: 12px; 
    margin-bottom: 24px;
}

.Col-Chart-Container{
    background-color: white;
    padding-left: 12px; 
    padding-right: 12px; 
    margin-bottom: 24px;
}
  