.logo {
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

#Sider{
    -moz-box-shadow:    0 0 5px 2px rgba(0,0,0,.35);
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    margin: 0;
    padding: 0;
  
}
#Sider-Menu{
    padding-top: 30px;
   
}

.Sider-Menu-Item{
    font-size: 32px;
}

#Home-Content-Container{
    height: 100%;
    margin: 24px;
    margin-right: 24px;
}
.Col-InfoCard{
    padding-bottom: 24px;
}